<% post = @post unless @post.nil? %>
<table class="thread" cellspacing="0" id="p<%= post.id %>">
  <thead>
    <tr>
      <th>
        <% if %w(search posts users).include?(current_controller) %>
          <%= link_to (h(post.topic) + ' &raquo;').html_safe, topic_post_path(post) %>
        <% else %>
          <%= "#" + (index + @padding).to_s %>
        <% end %>
      </th>
      <th class="thr">
        <div class="post-votes vote-enabled" style="float:right">
          <span class="vote-count">
            <% if post.plusminus > 0 %>
              <font color="FF642A">+<%= render 'posts/votes', :target => post %></font>
            <% else %>
              <%= render 'posts/votes', :target => post %>
            <% end %>
              <b>Frags</b></span>
            <% if logged_in? %>
              <%= link_to "+", vote_up_post_path(post), :remote => true, :class => 'vote-up' %>
              <%= link_to "&ndash;".html_safe, vote_down_post_path(post), :remote => true, :class => 'vote-down' %>
            <% end %>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="profile">
        <dl>
          <dt><%= link_to h(post.user), post.user %></dt>
          <dd class="rank"><%= rank_for(post.user) %></dd>
          <dd class="avatar">
            <%= link_to avatar_for(post.user), post.user unless post.user.avatar.nil? %>
          </dd>
          <dd><%=t :registered %>: <%= I18n.l(post.user.created_at, :format => :ed_month) %></dd>
          <dd><%=t :posts %>: <%= post.user.posts_count %></dd>
        </dl>
      </td>
      <td class="body">
        <div class="post-body">
          
          <% if post.plusminus <= -20 %>
            <i><%=t :nuked_post %></i>
          <% else %>
            <%= bb(post.body) %>
            <% if (post.updated_at > post.created_at + 5.minutes) %>
              <p class="edited">
                <%=t :last_edited %>: <%= time_ago_or_time_stamp(post.updated_at, Time.now.utc, true, true) %>
                <%= I18n.t(:by) + ' ' + h(post.editor) if post.editor %>
              </p>
            <% end %>
            <% if !post.user.signature.blank? %>
              <hr class="sig-hr" />
              <div class="sig">
                <%= bb(post.user.signature, :image, :video) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <%= time_ago_or_time_stamp(post.created_at, Time.now.utc, true, true) %>
      </td>
      <td class="body links">
        <span id ="post-link-<%= post.id %>">
          <%= link_to_function I18n.t(:link), "$('post-link-#{post.id}').toggle();$('post-links-#{post.id}').toggle();" %>
        </span>
        <span id="post-links-<%= post.id %>" style="display:none;">
          <%= link_to I18n.t(:post), post %>
          &nbsp; <%= link_to I18n.t(:topic), topic_post_path(post) %>
          &nbsp; <%= link_to_function '('+I18n.t(:x)+')', "$('post-link-#{post.id}').toggle();$('post-links-#{post.id}').toggle();" %>
        </span>   
        <% if %w(posts search users).include?(current_controller) %>
          <% if logged_in? && !post.topic.locked %>
            &nbsp; <%= link_to I18n.t(:quote), quote_post_path(post) %>
          <% end %>
        <% else %>
          <% if logged_in? && !@topic.locked %>
            &nbsp; <%= link_to I18n.t(:quote), quote_post_path(post) %>
          <% end %>
        <% end %>
        <% if can_edit?(post) %>
          &nbsp; <%= link_to I18n.t(:edit), edit_post_path(post) %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
